__pycache__
/work/
*.pyc
*.pkl
*.jpg
*.jpeg
*.png
*.raw
*.gif
*.log
train_log
*.swp
*.tar
*.pth
*.pt
*best-epoch-*
*epoch-*
.DS_Store
.nfs*
.ipynb_checkpoints
*.model
*.gz
*.mp4
test.sh
others
images
*.nori
tmp*.py
*.dlc
*.ipynb*
snpe/
.idea/
.vscode/
*.new
tmp*
result*
.env/
exp_*/
__pycache__
tf_log/
deploy
/experiments/
!/experiments/params.json
3D/

__pycache__
*/__pycache__
